@page "/"
@using Shared.Interfaces
@using Shared.Models
@inject IClient<Productos> productoService

<PageTitle>Gourmet Grill</PageTitle>

<div class="container">
    <div class="row">
        @if (productos != null && productos.Any())
        {
            // Limitar a los primeros 3 productos
            var productosLimitados = productos.Take(3);

            foreach (var producto in productosLimitados)
            {
                <div class="col-md-4 product-card">
                    <div class="card borderCard">
                        <img src="@producto.ImagenUrl" class="card-img-top borderBurguer" alt="@producto.Nombre">
                        <div class="card-body">
                            <h5 class="card-title text-center"><strong>@producto.Nombre</strong></h5>
                            <p class="card-text">@producto.Descripcion</p>
                            <div class="text-center">
                                <a href="/GourmentGrill/Menu" class="btn btn-outline-primary">Ordernar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Loading...</p>
        }
    </div>
</div>

<div class="card-footer Colorfooter">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <h4><strong>Horarios de atenci&oacute;n</strong></h4>
                <p><strong>Martes a Domingos:</strong> 12:00pm - 10:00pm</p>
            </div>
            <div class="col-md-4">
                <h4><strong>Cont&aacute;ctanos</strong></h4>
                <p><strong>Tel&eacute;fono:</strong> 809-123-4567</p>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Productos> productos;

    protected override async Task OnInitializedAsync()
    {
        productos = await productoService.GetAllObject();
    }
}
