@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager

<div class="d-flex align-items-center justify-content-end">
    <AuthorizeView>
        <Authorized>
            <div class="d-flex align-items-center justify-content-center">
                <NavLink class="menu custom-link" href="/">Home</NavLink>
                <NavLink class="menu custom-link" href="/GourmetGrill/Menu">Menu</NavLink>
                <AuthorizeView Roles="Admin">
                    <Authorized Context="Admin">
                        <NavLink class="menu custom-link" href="/GourmetGrill/Productos/Index">Inventario</NavLink>
                        <NavLink class="menu custom-link" href="/GourmetGrill/Ordenes/Index">Ordenes</NavLink>
                    </Authorized>
                </AuthorizeView>
                <NavLink class="btn btn-link" href="/GourmetGrill/Ordenes/Index">Ordenes</NavLink>
                <span class="btn btn-link text-black">USUARIO: @nickName </span>
                <form action="Account/Logout" method="post">
                    <div class="col text-end">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" />
                        <button type="submit" class="btn btn-outline-danger">
                            <span aria-hidden="true"></span> Salir
                        </button>
                    </div>
                </form>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="d-flex align-items-center justify-content-center">
                <NavLink class="menu custom-link" href="/">Home</NavLink>
                <NavLink class="menu custom-link" href="Account/Login">Login</NavLink>
                <NavLink class=" menucustom-link " href="Account/Register">Register</NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private string? nickName;

    protected override async Task OnInitializedAsync() {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity != null && user.Identity.IsAuthenticated) {
            var appUser = await UserManager.GetUserAsync(user);
            if (appUser != null) {
                nickName = appUser.Nombre;
            }
        }
    }
}
